* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.wrap {
    width: 960px;
    margin: 0 auto;
    /*border: 1px dashed #000;*/
}

.title,
.info,
.total {
    padding: 20px 0;
}

.info .book {
    padding: 10px 0;
}

.info .book > div,
.total > div {
    display: inline-block;
    vertical-align: top;
}

.book .book-select,
.total .total-select {
    margin: 0 10px;
}

.book .book-img {
    margin: 0 10px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.book .book-img img {
    width: auto;
    height: 100%;
}

.book .book-name {
    width: 200px;
}

.book .book-color,
.book .book-price,
.book .book-price-total,
.book .book-number {
    width: 100px;
    text-align: center;
}

.book .book-number input {
    width: 50px;
    height: 17px;
    text-align: center;
}

.total-submit,
.total-price,
.total-number {
    float: right;
}

.total-number {
    width: 200px;
}
.total-number span {
    margin: 0 4px;
    color: #f00;
}

.total-price {
    margin-right: 50px;
}

.total .total-submit {
    margin-top: -15px;
    margin-right: 50px;
    width: 100px;
}
.total-submit input {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #E64346;
    border: none;
}

.commodity img {
    margin: 10px 20px;
}